#home{
    color: chocolate;
    background-image: url(food.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
#about{
    color: rgb(129, 250, 9);
    background-image: url(cham.jpg);
}
#contact{
    color: rgb(19, 19, 129);
    background-color: rgba(241, 3, 3, 0.38);
}
#settings{
    color: rgb(233, 236, 236);
    background-color: rgba(50, 204, 29, 0.836);
}
div h3{
    text-align: right;
    color: rgba(228, 221, 215, 0.9);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 0%;
}
div h1{
    color: rgba(238, 107, 14, 0.884);
    text-decoration-line: underline;
    text-align: center;
}
#box{
    background-color: rgba(87, 168, 6, 0.623);
    width: 730px;
    border-style: solid;
    border-radius: 50px;
    padding: 10px;
    margin: 90px;
    margin-left: 450px;
    text-align: left;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}
div p{
    background-color: rgba(60, 112, 12, 0.2);
    width: 730px;
    border-style: solid;
    border-width: 5px;
    border-color: aliceblue;
    padding: 30px;
    margin: 90px;
    margin-left: 450px;
    text-align: left;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}